<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.sunhanwu.cvehub.dao.RetrieveValidMapper" >
  <resultMap id="BaseResultMap" type="top.sunhanwu.cvehub.model.RetrieveValid" >
    <id column="username" property="username" jdbcType="VARCHAR" />
    <result column="token" property="token" jdbcType="VARCHAR" />
    <result column="createTime" property="createtime" jdbcType="DATE" />
    <result column="times" property="times" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    username, token, createTime, times
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from RetrieveValid
    where username = #{username,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from RetrieveValid
    where username = #{username,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="top.sunhanwu.cvehub.model.RetrieveValid" >
    insert into RetrieveValid (username, token, createTime, 
      times)
    values (#{username,jdbcType=VARCHAR}, #{token,jdbcType=VARCHAR}, #{createtime,jdbcType=DATE}, 
      #{times,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="top.sunhanwu.cvehub.model.RetrieveValid" >
    insert into RetrieveValid
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="username != null" >
        username,
      </if>
      <if test="token != null" >
        token,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="times != null" >
        times,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="token != null" >
        #{token,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=DATE},
      </if>
      <if test="times != null" >
        #{times,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="top.sunhanwu.cvehub.model.RetrieveValid" >
    update RetrieveValid
    <set >
      <if test="token != null" >
        token = #{token,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=DATE},
      </if>
      <if test="times != null" >
        times = #{times,jdbcType=INTEGER},
      </if>
    </set>
    where username = #{username,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="top.sunhanwu.cvehub.model.RetrieveValid" >
    update RetrieveValid
    set token = #{token,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=DATE},
      times = #{times,jdbcType=INTEGER}
    where username = #{username,jdbcType=VARCHAR}
  </update>
</mapper>